<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style/media.css">
    <link rel="stylesheet" href="style/about.css">
    <link rel="stylesheet" href="style/universal.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.css"
        integrity="sha512-6p+GTq7fjTHD/sdFPWHaFoALKeWOU9f9MPBoPnvJEWBkGS4PKVVbCpMps6IXnTiXghFbxlgDE8QRHc3MU91lJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="hero">
            <nav>
                <div class="side-nav hide">
                    <div class="cross"><p>x</p></div>
                    <ul>
                        <li><a href="/">BY jeremy</a></li>
                        <li><a href="/dinner">dinner party</a></li>
                        <li><a href="">Supermarket</a></li>
                        <li><a href="/about">about</a></li>
                        <li><a href="">location</a></li>
                        <li><a href="">delivery</a></li>
                        <li><a href="">contact</a></li>
                        <li><a href="">channels</a></li>
                    </ul>
                </div>
                <div class="nav-div">
                    <div class="menu">
                        <!-- <i class="fa-solid fa-bars"></i> -->
                        <i class="ri-menu-line"></i>
                    </div>
                    <div class="content">
                        <div class="text-1 text">
                            <p> JFALL &#169;2024 --- <span class="favicons"><img src="img/Recycle.svg" alt=""><img
                                        src="img/E.svg" alt=""><img src="img/warning.svg" alt=""></span><br>
                                Los Angeles, California U.S.A. <br>
                                Follow: @jeremyfall</p>
                        </div>
                        <div class="logo">
                            <img src="img/JFALL-Logotype.svg" alt="logo">
                        </div>
                        <div class="text-2 text ">
                            <p> Current Local Time 09:17:22<br>
                                (34°3'8.04''N, 118°14'37.25''W)<br>
                                1-888-EAT-1250</p>

                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <section class="section-1">
            <div class="sub-section-1 sub-section">
                <div class="text">
                    <h2>About</h2>

                </div>
                <div class="images">
                   <img src="/img/about/section-1-img.svg" alt="">
                </div>
                
            </div>

            <div class="sub-section-2 sub-section">
              

                    <p>At JFALL, food is more than sustenance—it’s a cultural force that brings people together, sparks conversation, and creates lasting memories. Founded by award-winning chef, restaurateur, and author Jeremy Fall, JFALL is a culinary brand that transcends the traditional dining experience. We blend innovative products, media, and retail to reimagine how food shapes our world. <br> <br>More than just a brand, JFALL is like your best friend, always inviting you to join the conversation. We believe food is the ultimate connector, and through our network of social media-first brands, we use it to entertain, engage, and push culture forward. From the joy of your favorite meal to the buzz of a night out with friends, we create moments that resonate far beyond the plate.</p>
            </div>
        </section>

        <section class="section-3">
            <div class="image">
                <img src="img/about/section-2-img.svg" alt="">
            </div>
            <div class="text">
                <div class="row-1 row">
                    <div class="tag">
                        <p>Name:</p>
                    </div>
                    <div class="heading">
                        <h1>JEREMY FALL</h1>
                    </div>
                </div>
                <div class="row-2 row">
                    <div class="tag">
                        <p>handle:</p>
                    </div>
                    <div class="heading">
                        <h1>@JEREMYFALL</h1>
                    </div>
                </div>
                <div class="row-3 row">
                    <div class="tag">
                        <p>Known For:</p>
                    </div>
                    <div class="heading">
                        <h1>BREAKFAST FOR DINNER</h1>
                    </div>
                </div>
                <div class="row-4 row">
                    <div class="tag">
                        <p>Kitchen Soundtrack:</p>
                    </div>
                    <div class="heading">
                        <h1><span class="span-1"><img src="img/about/cut-1.svg" class="cut" alt="">FOODS</span> <span class="span-2">DINNER PARTY</span></h1>
                    </div>
                </div>
                <!-- <div class="row-5 row">
                    <div class="tag">
                        <p>Dream Dinner <br> Guest:</p>
                    </div>
                    <div class="heading">
                        <h1>Quincy Jones</h1> <h1>Miguel</h1> <h1> Ruth Bader Ginsburg </h1>
                    </div>
                </div> -->
            </div> 
        </section>
    </main>
    <script src="script/universal.js"></script>
</body>
</html>