<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/dinner.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/universal.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.css"
        integrity="sha512-6p+GTq7fjTHD/sdFPWHaFoALKeWOU9f9MPBoPnvJEWBkGS4PKVVbCpMps6IXnTiXghFbxlgDE8QRHc3MU91lJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />





    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="hero">
            <nav>
                <div class="side-nav hide">
                    <div class="cross"><p>x</p></div>
                    <ul>
                        <li><a href="/">BY jeremy</a></li>
                        <li><a href="/dinner">dinner party</a></li>
                        <li><a href="">Supermarket</a></li>
                        <li><a href="/about">about</a></li>
                        <li><a href="">location</a></li>
                        <li><a href="">delivery</a></li>
                        <li><a href="">contact</a></li>
                        <li><a href="">channels</a></li>
                    </ul>
                </div>
                <div class="nav-div">
                    <div class="menu">
                        <!-- <i class="fa-solid fa-bars"></i> -->
                        <i class="ri-menu-line"></i>
                    </div>
                    <div class="content">
                        <div class="text-1 text">
                            <p> JFALL &#169;2024 --- <span class="favicons"><img src="img/Recycle.svg" alt=""><img
                                        src="img/E.svg" alt=""><img src="img/warning.svg" alt=""></span><br>
                                Los Angeles, California U.S.A. <br>
                                Follow: @jeremyfall</p>
                        </div>
                        <div class="logo">
                            <img src="img/JFALL-Logotype.svg" alt="logo">
                        </div>
                        <div class="text-2 text ">
                            <p> Current Local Time 09:17:22<br>
                                (34°3'8.04''N, 118°14'37.25''W)<br>
                                1-888-EAT-1250</p>

                        </div>
                    </div>
                    <div class="third-div">
                        
                    </div>
                </div>
            </nav>

            <div class="img">
                <img src="img/dinner/Dinner Party.svg" class="dinner-party" alt="">
            </div>
        </div>

        <section class="section-1">
            <div class="sub-section-1 sub-section">
                <div class="text">
                    <h2>About</h2>
                </div>
                <div class="text-2">
                    <h5>[VOL4]</h5>
                    <h1>LONG LIVE RIGATONI</h1>
                    <p>Spicy Harissa Creamy Rigatoni by Jeremy, featuring New York Shuk’s  Rosey Harissa Spice—a fragrant, Middle Eastern-inspired blend that brings together the bold heat of traditional harissa with a subtle, floral hint of  dried rose petals.</p>
                        <a href="/dinner/vol-4">
                            <button>EXPLORE VOL. 4</button>

                        </a>
                </div>


                
            </div>
            <div class="sub-section-2 sub-section">
                <!-- <div class="layer">

                </div> -->
                <img src="img/dinner/dinner-sectiom-1-img.svg" alt="">
            </div>
        </section>
        <section class="section-2">
            <div class="intro">
                <h1>Explore More Dinner Party’s Posts</h1>
            </div>

            <div class="products">
                <div class="product product-1">
                    <img src="img/dinner/product-1.svg" alt="">

                    <div class="product-text">

                        <div class="txt-1 txt">
                            <h5>[ VOL.1 ]</h5>
                        </div>
                        <div class="txt-2 txt">
                            <h6>Title</h6>
                            <p>WELCOME TO DINNER PARTY</p>
                        </div>
                        <div class="txt-3 txt">
                            <h6>Published</h6>
                            <p>October 11, 2024</p>
                        </div>
                        <div class="txt-4 txt">
                            <h6>Notes</h6>
                            <p>i’m jeremy fall, a chef that believes most chefs take themselves too seriously</p>
                        </div>
                    </div>
                </div>

                <div class="product product-2">
                    <img src="img/dinner/product-2.svg" alt="">

                    <div class="product-text">

                        <div class="txt-1 txt">
                            <h5>[ VOL.3 ]</h5>
                        </div>
                        <div class="txt-2 txt">
                            <h6>Title</h6>
                            <p>CHEF USE MICROWAVES TOO</p>
                        </div>
                        <div class="txt-3 txt">
                            <h6>Published</h6>
                            <p>October 18, 2024</p>
                        </div>
                        <div class="txt-4 txt">
                            <h6>Notes</h6>
                            <p> for our new friends joining  the dinner party. i’m  believer…of microwaves</p>
                        </div>
                    </div>

                </div>

                <div class="product product-3">
                    <img src="img/dinner/product-3.svg" alt="">

                    <div class="product-text">

                        <div class="txt-1 txt">
                            <h5>[ VOL.3 ]</h5>
                        </div>
                        <div class="txt-2 txt">
                            <h6>Title</h6>
                            <p>EAT PEPPERS, SEE GOD</p>
                        </div>
                        <div class="txt-3 txt">
                            <h6>Published</h6>
                            <p>October 25, 2024</p>
                        </div>
                        <div class="txt-4 txt">
                            <h6>Notes</h6>
                            <p>vegan buffalo-almond stuffed peppers. no, i am not vegan but this dish slaps</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="btns">
                <p>Welcome to Dinner Party!</p>
                <p>Click here to sign up and get in on real-life conversations about real life sh*t.</p>
                <button class="btn-1 btn">
                    JOIN THE NEWSLETTER
                </button>
              
            </div>
        </section>
        <footer>
            <div class="sub-section-1 .sub-section">
                <div class="row-1">
                    <p>[</p>
                    <p>Sitemap </p>
                    <p>]</p>
                </div>
                <div class="row-2">
                    <div class="line-1 line">
                        <p>Homepage</p>
                        <p>About</p>
                    </div>
                    <div class="line-2 line">
                        <p>By Jeremy</p>
                        <p>Locations</p>
                    </div>
                    <div class="line-3 line">
                        <p>Dinner Party</p>
                        <p>Delivery</p>
                    </div>
                    <div class="line-4 line">
                        <p>Supermarket</p>
                        <p>Contact</p>

                    </div>
                </div>
                <div class="row-3">
                    <p>JFALL, Inc. Copyright 2024.</p>
                </div>

            </div>
            <div class="sub-section-2 .sub-section">
                <div class="row-1 row">
                    <p>A food company by Jeremy Fall</p>
                </div>
                <div class="row-2 row">
                    <img src="img/about/Signature.svg" alt="">
                </div>
                <div class="row-3 row">
                    <p>We’re here to reimagine your everyday. our scribble, with its 24 vertical and 7 horizontal lines,
                        symbolizes thinking beyond the box. the scribble itself embodies our mission to use food as a
                        platform to destigmatize mental health.</p>
                </div>
            </div>
            <div class="sub-section-3 .sub-section">
                <div class="row-1">
                    <p>[</p>
                    <p>Sitemap </p>
                    <p>]</p>
                </div>
                <div class="row-2">
                    <img src="img/about/footer-pizza.svg" alt="">
                </div>
                <div class="row-3">
                    <p>JFALL, Inc. Copyright 2024.</p>
                </div>
            </div>
        </footer>
    </main>

    <script src="/script/universal.js"></script>
</body>
</html>