<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style/home.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="style/universal.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.css"
        integrity="sha512-6p+GTq7fjTHD/sdFPWHaFoALKeWOU9f9MPBoPnvJEWBkGS4PKVVbCpMps6IXnTiXghFbxlgDE8QRHc3MU91lJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>

<body>

    <main>
        <div class="hero">
            <nav>
                <div class="side-nav hide">
                    <div class="cross"><p>x</p></div>
                    <ul>
                        <li><a href="/">BY jeremy</a></li>
                        <li><a href="/dinner">dinner party</a></li>
                        <li><a href="">Supermarket</a></li>
                        <li><a href="/about">about</a></li>
                        <li><a href="">location</a></li>
                        <li><a href="">delivery</a></li>
                        <li><a href="">contact</a></li>
                        <li><a href="">channels</a></li>
                    </ul>
                </div>
                <div class="nav-div">
                    <div class="menu">
                        <!-- <i class="fa-solid fa-bars"></i> -->
                        <i class="ri-menu-line"></i>
                    </div>
                    <div class="content">
                        <div class="text-1 text">
                            <p> JFALL &#169;2024 --- <span class="favicons"><img src="img/Recycle.svg" alt=""><img
                                        src="img/E.svg" alt=""><img src="img/warning.svg" alt=""></span><br>
                                Los Angeles, California U.S.A. <br>
                                Follow: @jeremyfall</p>
                        </div>
                        <div class="logo">
                            <img src="img/JFALL-Logotype.svg" alt="logo">
                        </div>
                        <div class="text-2 text ">
                            <p> Current Local Time 09:17:22<br>
                                (34°3'8.04''N, 118°14'37.25''W)<br>
                                1-888-EAT-1250</p>

                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <section class="section-1">
            <div class="sub-section-1 sub-section">
                <div class="text">
                    <h2>About</h2>

                </div>


                <div class="images">
                    <div class="img-1 img">
                        <img src="img/fig-1.svg" alt="">
                        <p>Fig.01 - Innovation Kitchen</p>
                    </div>
                    <div class="img-2 img">
                        <img src="img/fig-2.svg" alt="">

                        <p>Fig.02 - Rigatoni Alla Pizza</p>
                    </div>
                </div>
            </div>
            <div class="sub-section-2 sub-section">
                <h1>Reimagining Food Through Products, Media, and Retail. <br>
                    JFALL is a culinary brand that transforms the way we experience food, <br> blending innovative
                    products, media, and retail. Created by award-winning celebrity chef, restaurateur, and author
                    Jeremy Fall, the brand pushes boundaries to bring food into new cultural contexts.</h1>
            </div>
        </section>

        <section class="section-2">
            <h1>YOUR POCKET CONVENIENCE STORE</h1>

            <div class="middle-content">
                <img src="img/Supermarket-Tray-Dark-02 1.svg" alt="" class="tray">
                <div class="barcode-container">
                    <h3>SUPER-</h3>
                    <img src="img/barcode.svg" alt="" class="barcode">
                    <h3>MARKET</h3>

                </div>
            </div>

            <div class="bottom-content">
                <p>SUPERMARKET is a new-age online platform redefining the convenience store experience. Offering
                    high-end, in-house products alongside exclusive co-branded foods, SUPERMARKET partners with major
                    cultural brands to bring unique, quality essentials to your doorstep. It’s convenience reimagined
                    for the modern lifestyle. </p>
                <button>EXPLORE SUPERMARKET</button>
            </div>
        </section>

        <section class="section-3">
            <div class="left">
                <h2>REIMAGINED FOOD ESSENTIALS</h2>

                <div class="section-3-left-bottom">
                    <h1>BY JEREMY</h1>
                    <p>By Jeremy is a food and beverage essentials brand designed for delivery and grab-and-go
                        convenience. Offering innovative solutions for everyday needs, we provide a wide range of
                        high-quality products—from coffee to pizza, sandwiches to wine—ensuring a seamless and enjoyable
                        experience for your daily routine.</p>
                    <button>SHOP @ BY JEREMY</button>
                </div>
            </div>
            <div class="right">
                <div class="slideshow-images">
                    <div class="img-1 img">
                        <img src="img/juice.svg" alt="">
                    </div>
                </div>
                <div class="slideshow-btn">
                    <button class="btn-1"><i class="fa-solid fa-arrow-left"></i></button>
                    <h6 class="one">01</h6>
                    <h6 class="two">02</h6>
                    <h6 class="three">03</h6>
                    <h6 class="four">04</h6>
                    <h6 class="five">05</h6>
                    <button class="btn-2"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </section>


        <section class="section-4">
            <h1>THE INTERNET'S DINNER PARTY</h1>

            <div class="middle-content">
                <img src="img/dinnerparty.png" alt="" class="dinner-party-logo">
                <img src="img/dinner party bg-image.svg" alt="Dinner party" class="dinner-party-bg-img">
            </div>

            <div class="bottom-content">
                <p>Dinner Party is a media brand that uses food as a conduit for real-life conversations. We produce
                    newsletters, podcasts, and curate the internet’s largest food-centric social media network. Our
                    content spans across today's cultural landscape, creating a vibrant space where food intersects with
                    the world </p>
            </div>
        </section>

        <section class="section-5">
            <div class="intro">
                <h1>Explore Dinner Party’s Latest Posts</h1>
            </div>

            <div class="products">
                <div class="product product-1">
                    <img src="img/product-1.svg" alt="">

                    <div class="product-text">

                        <div class="txt-1 txt">
                            <h5>[ VOL.1 ]</h5>
                        </div>
                        <div class="txt-2 txt">
                            <h6>Title</h6>
                            <p>WELCOME TO DINNER PARTY</p>
                        </div>
                        <div class="txt-3 txt">
                            <h6>Published</h6>
                            <p>October 11, 2024</p>
                        </div>
                        <div class="txt-4 txt">
                            <h6>Notes</h6>
                            <p>i’m jeremy fall, a chef that believes most chefs take themselves too seriously</p>
                        </div>
                    </div>
                </div>

                <div class="product product-2">
                    <img src="img/product-2.svg" alt="">

                    <div class="product-text">

                        <div class="txt-1 txt">
                            <h5>[ VOL.3 ]</h5>
                        </div>
                        <div class="txt-2 txt">
                            <h6>Title</h6>
                            <p>CHEF USE MICROWAVES TOO</p>
                        </div>
                        <div class="txt-3 txt">
                            <h6>Published</h6>
                            <p>October 18, 2024</p>
                        </div>
                        <div class="txt-4 txt">
                            <h6>Notes</h6>
                            <p> for our new friends joining  the dinner party. i’m  believer…of microwaves</p>
                        </div>
                    </div>

                </div>

                <div class="product product-3">
                    <img src="img/product-3.svg" alt="">

                    <div class="product-text">

                        <div class="txt-1 txt">
                            <h5>[ VOL.3 ]</h5>
                        </div>
                        <div class="txt-2 txt">
                            <h6>Title</h6>
                            <p>EAT PEPPERS, SEE GOD</p>
                        </div>
                        <div class="txt-3 txt">
                            <h6>Published</h6>
                            <p>October 25, 2024</p>
                        </div>
                        <div class="txt-4 txt">
                            <h6>Notes</h6>
                            <p>vegan buffalo-almond stuffed peppers. no, i am not vegan but this dish slaps</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="btns">
                <button class="btn-1 btn">
                    JOIN THE NEWSLETTER
                </button>
                <button class="btn-2 btn">
                    EXPLORE ALL POSTS
                </button>
            </div>

        </section>

        <section class="section-6">
            <div class="images-collage">
                <div class="line-1"><img src="img/line-1.png" alt=""></div>
                <div class="line-2"><img src="img/line-2.png" alt=""></div>
                <div class="line-3"><img src="img/line-1.png" alt=""></div>
                <div class="line-4"><img src="img/line-1.png" alt=""></div>

                <div class="image image-1"><img src="img/img-1.svg" alt=""></div>
                <div class="image image-2"> <img src="img/img-2.png" alt=""></div>
                <div class="image image-3"><img src="img/img-3.png" alt=""></div>
                <div class="image image-4"><img src="img/img-4.png" alt=""></div>
                <div class="image image-5"><img src="img/img-5.png" alt=""></div>
                <div class="image image-6"><img src="img/img-6.png" alt=""></div>
                <div class="image image-7"><img src="img/img-7.png" alt=""></div>
                <div class="image image-8"><img src="img/img-8.png" alt=""></div>
                <div class="image image-9"><img src="img/img-9.png" alt=""></div>
                <div class="image image-10"><img src="img/img-10.png" alt=""></div>
            </div>
        </section>


        <section class="section-7">
            <div class="section-7-container">

                <div class="div-1">
                    <div class="div">
                        <img src="img/section-7-tiny-img-1.svg" alt="">
                        <img src="img/section-7-tiny-img-1-word.svg" alt="">
                    </div>
                    <img src="img/section-7-tiny-img-2.svg" alt="">
                </div>

                <div class="div-2">
                    <img src="img/section-7-special-products.svg" alt="">
                    <img src="img/black-pizza.svg" alt="">
                </div>
                <div class="div-3">
                    <button>EXPLORE THE COLLAB</button>
                </div>
            </div>
        </section>

        <footer>
            <div class="sub-section-1 .sub-section">
                <div class="row-1">
                    <p>[</p>
                    <p>Sitemap </p>
                    <p>]</p>
                </div>
                <div class="row-2">
                    <div class="line-1 line">
                        <p>Homepage</p>
                        <p>About</p>
                    </div>
                    <div class="line-2 line">
                        <p>By Jeremy</p>
                        <p>Locations</p>
                    </div>
                    <div class="line-3 line">
                        <p>Dinner Party</p>
                        <p>Delivery</p>
                    </div>
                    <div class="line-4 line">
                        <p>Supermarket</p>
                        <p>Contact</p>

                    </div>
                </div>
                <div class="row-3">
                    <p>JFALL, Inc. Copyright 2024.</p>
                </div>

            </div>
            <div class="sub-section-2 .sub-section">
                <div class="row-1 row">
                    <p>A food company by Jeremy Fall</p>
                </div>
                <div class="row-2 row">
                    <img src="img/about/Signature.svg" alt="">
                </div>
                <div class="row-3 row">
                    <p>We’re here to reimagine your everyday. our scribble, with its 24 vertical and 7 horizontal lines,
                        symbolizes thinking beyond the box. the scribble itself embodies our mission to use food as a
                        platform to destigmatize mental health.</p>
                </div>
            </div>
            <div class="sub-section-3 .sub-section">
                <div class="row-1">
                    <p>[</p>
                    <p>Sitemap </p>
                    <p>]</p>
                </div>
                <div class="row-2">
                    <img src="img/about/footer-pizza.svg" alt="">
                </div>
                <div class="row-3">
                    <p>JFALL, Inc. Copyright 2024.</p>
                </div>
            </div>
        </footer>
    </main>

<script src="script/universal.js"></script>
</body>

</html>